* {
  /* border: 1px solid black; */
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, b, i {
  font-size: 1.6rem;
}

.main-container {
  position: relative;
  display: flex;
  min-height: 890px;
  height: 100vh;
  justify-content: center;
  background-image: url('bg-pattern.svg');
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container h1, p {
    text-align: center;
}

.main-container h1 {
    text-align: center;
    font-family: Italiana;
    font-size: 20rem;
    font-weight: 400;
    line-height: 90%;
}

/* START - Button */
.button-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  color: white;
  text-align: center;
  font-size: 1.75rem;
  padding: 20px;
  width: 200px;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
    background-color: white;
    color: black;
}

.button span {
  font-size: 1.75rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* END - Button */

/* START - ITB Footer */
.itb-container {
  position: absolute;
  bottom: 0;
  padding: 20px;
  z-index: 1;
  width: 80%;
  max-width: 300px;
}

.itb-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* END - ITB Footer */

/* START Media Query */
@media (max-width: 1024px) {
  .main-container h1 {
    font-size: 12rem;
  }
}

@media (max-width: 768px) {
  .main-container h1 {
    font-size: 9rem;
  }
}

@media (max-width: 425px) {
  .main-container h1 {
    font-size: 7rem;
  }
}
/* END Media Query */