/* Content Start */
.content-details {
  display: flex;
  justify-content: center;
}

.module-page {
  background-color: white;
  width: 90%;
  min-height: 100vh;
  margin-top: 5%;
}

.page-layout {
  margin: 5%;
}

.module-title {
  font-size: xx-large;
}
/* Content End */

.back-button {
  background-color: black; /* Red for back button */
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100px; /* Fixed width */
  transition: background-color 0.5s;
  text-decoration: none;
}

.back-button:hover {
  background-color: white; /* Darker red on hover */
  color: black;
}

.button {
  background-color: black; /* Red for back button */
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100px; /* Fixed width */
  text-decoration: none;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100px; /* Make input fields take full width */
  text-align: center; /* Center the input text */
  -moz-appearance: textfield; /* Remove arrows in Firefox */
}

/* Remove arrows in WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  border-color: #4a90e2;
}

.try-1 {
  display: flex;
  gap: 1%;
}

.result-1 {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#polygonCanvas {
  width: 70%;
}

#curveCanvas {
  width: 70%;
}

.button-container {
  margin-bottom: 2%;
}

@media (max-width: 768px) {
  .content-details {
    padding: 0%;
  }

  #quiz-container {
    padding: 2%;
  }

  #menu-button {
    right: 0;
    display: inline;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border: 2px solid #ccc;
    color: white;
    text-align: center;
    align-content: center;
  }

  #menu-close-button {
    position: absolute;
    margin: 2%;
    right: 0;
    display: inline;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border: 2px solid #ccc;
    color: white;
    text-align: center;
    align-content: center;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .try-1 {
    flex-direction: column;
    gap: 10px;
  }

  #sliderContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #sliderContainer span {
    align-self: center;
  }
}